name: Build Release and Upload to S3 for Linux

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  release-linux:
    runs-on: ubuntu-latest
    steps:
    - name: 'Cleanup build folder'
      run: |
        ls -la ./
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la ./
    - name: Install Build Essential and Git
      run: |
        sudo apt update
        sudo apt install -y build-essential
        sudo apt install -y git
    # Change the submodule url to HTTPS url
    - name: Checkout the repo including submodules
      uses: actions/checkout@v4

    # Nodejs
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'

    # Build Steps
    - run: npm ci
   

    - name: Build deb binary
      run: make deb
    - name: see directory
      run: ls ./out/make/deb/x64/
    
    # Upload to S3
    - name: Upload to S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: "ap-south-1"
      run: |
        VERSION=$(git describe --tags --always)
        aws s3 cp out/make/deb/ s3://public.pinggy.binaries/app/$VERSION/linux --recursive


  release-windows:
    runs-on: windows-latest

    defaults:
      run:
        shell: bash

    steps:
        
    - name: 'Cleanup build folder'
      run: |
        ls -la ./
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la ./
    # Nodejs
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
   
    # Build Steps 
    - run: npm ci


    - name: Build squirrel binary
      run: make squirrel
      shell: pwsh

    - name: see out directory
      run: ls ./out/make/

    # Upload to S3
    - name: Upload squirrel to S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: "ap-south-1"
      run: |
        VERSION=$(git describe --tags --always)
        aws s3 cp out/make/squirrel.windows/ s3://public.pinggy.binaries/app/$VERSION/windows --recursive

  release-mac:
    runs-on: [self-hosted, macos]
    steps:
        
    - name: 'Cleanup build folder'
      run: |
        ls -la ./
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la ./
    # Change the submodule url to HTTPS url
    - name: Checkout the repo including submodules
      uses: actions/checkout@v4

    # Nodejs
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
    
    # Build Steps 
    - run: npm ci

    - run: node -p process.arch

   

    - name: Build dmg binary
      env:
        APPLE_ID: ${{ secrets.APPLE_ID }}
        APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
        APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
      run: make dmg

    - name: see out directory
      run: ls ./out/make/

    # Upload to S3
    - name: Upload to S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: "ap-south-1"
      run: |
        VERSION=$(git describe --tags --always)
        aws s3 cp out/make/mac/ s3://public.pinggy.binaries/app/$VERSION/mac --recursive
