name: Build Release for Linux / Windows / Mac


permissions:
  contents: write 

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:

  linux-x64:
    runs-on: ubuntu-latest
    steps:
    - name: 'Cleanup build folder'
      run: |
        ls -la ./
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la ./
    - name: Install Build Essential and Git
      run: |
        sudo apt update
        sudo apt install -y build-essential
        sudo apt install -y git
    # Change the submodule url to HTTPS url
    - name: Checkout the repo including submodules
      uses: actions/checkout@v4

    # Nodejs
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: npm

    - run: npm ci

    - name: Build deb binary
      run: make deb-x64

    - run: gh auth status
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload to GitHub Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        VERSION=$(git describe --tags --always)
        gh release create "$VERSION" --notes "Manual build" --title "$VERSION" || true
        gh release upload "$VERSION" out/make/deb/**/*amd64.deb --clobber

  linux-arm64:
      runs-on: ubuntu-24.04-arm
      steps:
      - name: 'Cleanup build folder'
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./
      - name: Install Build Essential and Git
        run: |
          sudo apt update
          sudo apt install -y build-essential
          sudo apt install -y git
      # Change the submodule url to HTTPS url
      - name: Checkout the repo including submodules
        uses: actions/checkout@v4

      # Nodejs
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: npm

      - run: npm ci

      - name: Build deb binary
        run: make deb-arm64

      - run: gh auth status
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload to GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          VERSION=$(git describe --tags --always)
          gh release create "$VERSION" --notes "Manual build" --title "$VERSION" || true
           gh release upload "$VERSION" out/make/deb/**/*arm64.deb --clobber




  windows-x64:
    runs-on: windows-latest

    defaults:
      run:
        shell: bash

    steps:
        
    - name: 'Cleanup build folder'
      run: |
        ls -la ./
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la ./
    - name: Checkout the repo including submodules
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
    # Nodejs
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
   
    # Build Steps 
    - run: npm ci

    - name: Build squirrel binary
      run: make squirrel-x64
      shell: pwsh

    - name: Upload to GitHub Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        VERSION=$(git describe --tags --always)
        gh release create "$VERSION" --notes "Manual build" --title "$VERSION" || true
        gh release upload "$VERSION" "out/make/squirrel.windows/**/*.exe" --clobber


  windows-arm64:
    runs-on: windows-11-arm

    defaults:
      run:
        shell: bash

    steps:
        
    - name: 'Cleanup build folder'
      run: |
        ls -la ./
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la ./
    - name: Checkout the repo including submodules
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive
    # Nodejs
    - name: Use Node.js 22.x
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
   
    # Build Steps 
    - run: npm ci

    - name: Build squirrel binary
      run: make squirrel-arm64
      shell: pwsh

    - name: Upload to GitHub Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        VERSION=$(git describe --tags --always)
        gh release create "$VERSION" --notes "Manual build" --title "$VERSION" || true
        gh release upload "$VERSION" "out/make/squirrel.windows/**/*.exe" --clobber



  release-mac:
    runs-on: macos-latest

    steps:
        
    - name: 'Cleanup build folder'
      run: |
        ls -la ./
        rm -rf ./* || true
        rm -rf ./.??* || true
        ls -la ./
    # Change the submodule url to HTTPS url
    - name: Checkout the repo including submodules
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: recursive

    - name: Cleanup
      run: rm -rf ./* || true

    - name: Use Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22.x
        cache: 'npm'
    
    # Build Steps 
    - run: npm ci
    - run: node -p process.arch
    - name: Build dmg binary
      env:
        APPLE_ID: ${{ secrets.APPLE_ID }}
        APPLE_PASSWORD: ${{ secrets.APPLE_PASSWORD }}
        APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
      run: make dmg

    - name: see out directory
      run: ls ./out/make/

    - name: Upload to GitHub Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        VERSION=$(git describe --tags --always)
        gh release create "$VERSION" --notes "Manual build" --title "$VERSION" || true
        gh release upload "$VERSION" "out/make/mac/**/*.dmg" --clobber
